<header class="inr-header">
  <div class="wrapper">
    <div class="logo">
      <a [routerLink]="['/']"><img src="assets/img/saps-digital.png" alt=""></a>
    </div>
    <div class="navigation">
      <div class="ins-nav">
        <ul>
          <li><a [routerLink]="['/']"  [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li><a [routerLink]="['about-us']" [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">About Us</a></li>
          <li><a href="javascript:void(0)">Technology</a>
            <div class="mega-menu">
              <ul>
                <li class="col-left"><a href="javascript:void(0)">Internet Technology</a>
                  <ul>
                    <li><a [routerLink]="['internet-technology/web-development']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Web Development</a></li>
                    <li><a [routerLink]="['internet-technology/maintenance']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Maintenance</a></li>
                    <li><a [routerLink]="['internet-technology/seo-smo']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">SEO/SMO</a></li>
                    <li><a [routerLink]="['internet-technology/device-friendly']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Device Friendly</a></li>
                    <li><a [routerLink]="['internet-technology/ecommerce']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">E-commerce</a></li>
                    <li><a [routerLink]="['internet-technology/domain-hosting']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Domain/Hosting</a></li>
                  </ul>
                </li>
                <li class="col-left"><a href="javascript:void(0)">Mobile Technology</a>
                  <ul>
                    <li><a [routerLink]="['mobile-technology/ios']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">IOS</a></li>
                    <li><a [routerLink]="['mobile-technology/android']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">Android</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li><a href="javascript:void(0)">Media</a>
            <ul>
              <li><a [routerLink]="['media/social-media']" [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">Social Media</a></li>
              <li><a [routerLink]="['media/branding']" [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">Branding</a></li>
              <li><a [routerLink]="['media/strategy-and-management']" [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">Strategy and Management</a></li>
              <li><a [routerLink]="['media/media-campagains']" [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">Media Campagains</a></li>
              <li><a [routerLink]="['media/search-engine-results']" [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">Search Engine Results</a></li>
            </ul>
          </li>
          <li><a [routerLink]="['portfolio']" [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">Portfolio</a></li>
          <!-- <li><a [routerLink]="['blog']" [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">Blog</a></li> -->
          <li><a [routerLink]="['contact']" [routerLinkActive]="['active2']" [routerLinkActiveOptions]="{exact:true}">Contact</a></li>
        </ul>
      </div>
      
    </div>
    <div class="tgmenu">menu</div>
  </div>
</header>