<footer id="footer">
  <div class="loader" [hidden]="!showloader"></div>
  <div class="wrapper">
    <h2 class="txt-center white-txt">Let’s Talk About Your Project</h2>
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2">
        <form (ngSubmit)="querysubmitform()" #FooterForm="ngForm">
          <div class="form">
            <div class="input-field halfleft">
              <label>Your name</label>
              <input 
              type="text"
              required
              name="name"
              id="name"
              [(ngModel)]="footerform.name"
              #name="ngModel"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false">
              <div class="error">*Please fill this field</div>
            </div>
            <div class="input-field halfright">
              <label>Your e-mail</label>
              <input 
              type="email"
              required
              name="email"
              id="email"
              [(ngModel)]="footerform.email"
              #email="ngModel"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
              [email]="true">
              <div class="error">*Please fill this field</div>
            </div>
            <div class="clr"></div>
            <div class="input-field halfleft">
                <label>Your phone</label>
                <input 
                type="text"
                required
                name="phone"
                id="phone"
                [(ngModel)]="footerform.phone"
                #phone="ngModel"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false">
                <div class="error">*Please fill this field</div>
              </div>
              <div class="input-field halfright">
                  <label>Subject</label>
                  <input 
                  type="text"
                  required
                  name="subject"
                  id="subject"
                  [(ngModel)]="footerform.subject"
                  #subject="ngModel"
                  autocomplete="off"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false">
                  <div class="error">*Please fill this field</div>
                </div>
                <div class="clr"></div>
            <div class="input-field">
              <label>Message</label>
              <textarea
              required
              name="message"
              id="message"
              [(ngModel)]="footerform.message"
              #message="ngModel"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"></textarea>
              <div class="error">*Please fill this field</div>
            </div> 
            <div class="txt-center form-loader-button">
              <button class="submitBtn"
              [disabled]="!FooterForm.form.valid"><span>Send Message</span></button>
<!-- <img src="assets/img/Rolling-1s-200px.svg" alt="" class="form-loader"> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="ft-box">
    <div class="wrapper">
      <div class="copy">
        <span>&copy; 2016 saps digital,</span>
        <a [routerLink]="['privacy-policy']">Privacy Policy</a>
        <a [routerLink]="['disclaimer']">Disclaimer</a>
        <a [routerLink]="['terms-and-conditions']">Terms And Conditions</a>
      </div>
    </div>
  </div>
</footer>