<div class="banner">
  <div class="text-large">From Idea To Successful Website</div>
  <div class="text-small">We build Digital Products for our clients since 2016</div>
</div>
<div class="wrapper">
  <div class="content-box">
    <h1 class="txt-center">We Specialise In</h1>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="inr-box">
          <div class="inr-img"><img src="assets/img/digital_agency_category_01.jpg" alt=""></div>
          <div class="inr-content">
            <h4>Web development</h4>
            <p>Our web engineers have capable learning and ability in making your website enhanced and adaptable.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="inr-box">
          <div class="inr-img"><img src="assets/img/digital_agency_category_02.jpg" alt=""></div>
          <div class="inr-content">
            <h4>Apps development</h4>
            <p>We provide the most creative Apps developers who are going to outshine the performance of your business.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="inr-box">
          <div class="inr-img"><img src="assets/img/digital_agency_category_03.jpg" alt=""></div>
          <div class="inr-content">
            <h4>Digital marketing</h4>
            <p>Digital marketing stretegy we create, enhance the power to present your product or business in market.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="inr-box">
          <div class="inr-img"><img src="assets/img/digital_agency_category_04.jpg" alt=""></div>
          <div class="inr-content">
            <h4>Branding</h4>
            <p>We strive at making the audience feel delighted, inspired and silently understand a part of the bigger picture.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-box">
    <h2 class="txt-center mar50">Featured Projects</h2>
    <div class="filter-list">
      <ul>
        <li class="active" data-filter=".all">All</li>
        <li data-filter=".app">App Development</li>
        <li data-filter=".branding">Branding</li>
        <li data-filter=".web">Web Design</li>
      </ul>
    </div>
    <div class="grid-content">
      <div class="grid all">
        <div class="img-box">
          <a href="https://agamenterprises.com/" target="_blank">
            <img src="assets/img/portfolio-img1.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="grid all app">
        <div class="img-box">
          <a href="http://www.starexlogistic.com/" target="_blank">
            <img src="assets/img/portfolio-img2.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="grid all branding app">
        <div class="img-box">
          <a href="http://globalpetrochem.in/" target="_blank">
            <img src="assets/img/portfolio-img3.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="grid all branding">
        <div class="img-box">
          <a href="http://tobusese.com/" target="_blank">
            <img src="assets/img/portfolio-img4.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="grid all web">
        <div class="img-box">
          <a href="http://www.allcitypackersmovers.com/" target="_blank">
            <img src="assets/img/portfolio-img5.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="grid all app">
        <div class="img-box">
          <a href="http://www.southernmoverspackers.com/" target="_blank">
            <img src="assets/img/portfolio-img6.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="txt-center">
      <a class="linkBtn" [routerLink]="['portfolio']">View More</a>
    </div>
  </div>
</div>
<div class="blueBg">
  <div class="wrapper">
    <div class="row">
      <div class="col-lg-8 offset-lg-4 offset-md-1">
        <h2>Our Process</h2>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="count">01</div>
            <div class="step-body">
              <div class="txt-block">Gathering Information</div>
              <div class="sm-content">We first take the project information and other require things from you to get an idea about the project.
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="count">02</div>
            <div class="step-body">
              <div class="txt-block">Planning, Wireframe Creation</div>
              <div class="sm-content">Then we plan the project and assign the resource according to the work and the timelines to deliver best.
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="count">03</div>
            <div class="step-body">
              <div class="txt-block">Design And Development</div>
              <div class="sm-content">We now design the product and develop into the world's popular and fastest languages to keep you ahead in technologies.
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="count">04</div>
            <div class="step-body">
              <div class="txt-block">Testing, Review and Launch</div>
              <div class="sm-content">Now the final part is testing bugs removal and we implement the review feedbacks given by you.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="background-gray">
  <div class="wrapper pad70">
    <h2 class="txt-center">Clients</h2>
    <div class="logo-slider">
      <div class="item"><a href="#"><img src="assets/img/logo01.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo02.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo03.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo04.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo05.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo06.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo07.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo08.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo09.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo010.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo011.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo012.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo013.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo014.png" alt=""></a></div>
      <div class="item"><a href="#"><img src="assets/img/logo015.png" alt=""></a></div>
    </div>
  </div>
</div>