<div class="inr-banner media-campagians">
    <div class="wrapper">
      <div class="breadcrumbs txt-center">
        <a href="index.html">Home</a><a href="#">Media Campaigns</a>
      </div>
      <h1 class="txt-center">Media Campagians</h1>
    </div>
  </div>
  <div class="wrapper">
      <h1 class="txt-center">Paid Social Media</h1>
      <div class="center-content">
        <p>We make the brand to connect with its prospective customers profoundly. The Social Media
            specialists at Saps Digital know what it takes to create fine tunes of social media marketing.
            Elevation of your social media visibility, enhanced profile status of your brand – all this and
            much more is possible on choosing us as your ideal marketing agency.</p>
      </div>
    <div class="col-fix-bg">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="padall">
            <div class="sm-title">Google AdWords</div>
            <div class="sm-cont">Finding it tough to deal with Google AdWords? We can make your ads reach the interested
                people. Our specialists know well what it takes to create a compelling Google AdWords
                Campaign. With the newest marketing trends, detailed research and best-in-the-class tools
                our professionals will make Google searches work for your business.</div>
            <div class="get-in-touch">
              <a href="/contact">Get In Touch</a>
            </div>    
          </div>
        </div>
        <div class="col-md-8 col-lg-8"><img src="assets/img/google-adwords.jpg" alt=""></div>
      </div>
    </div>


    <div class="col-fix-bg">
        <div class="row">
            <div class="col-md-8 col-lg-8"><img src="assets/img/facebook-campaigns.jpg" alt=""></div>
          <div class="col-md-4 col-lg-4">
            <div class="padall">
              <div class="sm-title">Facebook Campaign</div>
              <div class="sm-cont">Together let us generate buzz about your brand on Facebook. Generate leads, grab
                  increased sales, get new customers with customised Facebook Advertising solutions suiting
                  your budget and requirements. Let the best minds work for your Home Page Ads.</div>
                  <div class="get-in-touch">
                      <a href="/contact">Get In Touch</a>
                    </div>             </div>
          </div>          
        </div>
      </div>



      <div class="col-fix-bg">
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="padall">
                <div class="sm-title">Twitter Campaigns</div>
                <div class="sm-cont">Yours could be the next success story through Twitter Marketing. Yes, it is possible to
                    increase website conversions and brand awareness by growing your community of Twitter
                    followers. An efficacious Twitter campaign is all what it takes. Connect with us now.</div>
                <div class="get-in-touch">
                  <a href="/contact">Get In Touch</a>
                </div>    
              </div>
            </div>
            <div class="col-md-8 col-lg-8"><img src="assets/img/twitter-campaigns.jpg" alt=""></div>
          </div>
        </div>



    
  </div>