
  <div class="inr-banner ecommerce">
      <div class="wrapper">
        <div class="breadcrumbs txt-center">
          <a href="index.html">Home</a><a href="#">E-commerce</a>
        </div>
        <h1 class="txt-center">Stress Free Solution</h1>
      </div>
    </div>
    <div class="mid-content">
        <div class="wrapper">
     
            <div class="row">
              <div class="col-md-9 col-lg-9">
                <div class="content">
                    <h2 class="smallmr">CMS and E-COMMERCE SOLUTION</h2>
               <p>To manage the digital content of the website, Content Management System (a software application) is
                  used. CMS helps the master to control the creation, modification, collaboration, distribution and
                  removal of content from a website. There are several features of the CMS, but the core functions are
                  often considered to be indexing, search and retrieval, format management, revision control, editing,
                  archiving and publishing.</p>
               <p>This web application gives abilities to numerous clients with various authorization levels to oversee
                  website page without the need to have HTML information. If you&#39;ve been searching to keep your
                  website crisp and innovative, then you&#39;re at the right place. As we provide the best solutions for your
                  content management applications.</p>
               <p>Through E-commerce solution we can help the businesses and merchants who want to put their appeal
                  on an online store. As the necessities of those occupied with online business have grown more complex,
                  however, the interest for more comprehensive solutions has intensified. From food business to fashion
                  business, you name it and we would nail it.</p>
                  <p><strong>Our e-commerce solution will offer you:</strong></p>
                  <ul>
                    <li>Online updating</li>
                    <li>Content conversion</li>
                    <li>Content creation and manipulation management</li>
                    <li>Content structure definition</li>
                    <li>Site and navigation management</li>
                    <li>Application and technical architecture and development</li>
                    <li>Website and application maintenance</li>
                    <li>User role definition</li>
                    <li>Database development and management</li>
                    <li>Configuration management</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <app-tech-sidebar></app-tech-sidebar>              
              </div>
            </div>
          </div>
    </div>