<div class="inr-banner about">
  <div class="wrapper">
    <div class="breadcrumbs txt-center">
      <a href="index.html">Home</a><a href="#">About Us</a>
    </div>
    <h1 class="txt-center">About Us</h1>
  </div>
</div>
<div class="wrapper about">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <h2>Our Success Story</h2>
      <div class="sm-cont">
        <p>We, at Saps Digital, believe in making the most of the current digital needs and offering the best of
          solutions to make sure that you can make the most from practical, revenue-boosting marketing
          strategy and web solutions.</p>
        <p>A place where you can share the brief and relax knowing that results will be delivered over and
          above your expectations. Every digital interaction counts for us. Be it on a website, in an app or
          through emails, for people should and will know exactly how to engage and interact with your
          brand/product.</p>
        <p>Saps Digital came into business in November 2017. You can count on us for web development
          (including e-commerce site), SEO, SMO, all types of media campaigns, branding, social media
          marketing, app development (android and IOS both), domain &amp; hosting, creating and implementing
          all other types of strategy and marketing for branding. We make it all possible for you through our
          thoroughly trained industry experts.</p>
        <p><strong>Our Aim</strong></p>
        <p>With each passing day, we are determined to be your trusted advisor. By working with you, we can
          make sense of your customer data, improve and implement your digital marketing strategy.</p>
        <p><strong>What would you get from this?</strong></p>
        <p>You’ll get a better digital experience for your customers and more conversions for your business.</p>
      </div>
    </div>
    <div class="col-6 col-md-6">
      <h2>Skills And Huge Experience</h2>
      <div class="skils">
        <div class="sm-txt">Design   —   90%</div>
        <div class="scale txt90"><span></span></div>
      </div>
      <div class="skils">
        <div class="sm-txt">Marketing   —   50%</div>
        <div class="scale txt50"><span></span></div>
      </div>
      <div class="skils">
        <div class="sm-txt">Consulting   —   30%</div>
        <div class="scale txt30"><span></span></div>
      </div>
      <div class="skils">
        <div class="sm-txt">Development   —   85%</div>
        <div class="scale txt85"><span></span></div>
      </div>
    </div>

    <!-- <div class="col-12">
      <h2>And Here What They Say</h2>
      <div class="testimonial">
        <div class="item">
          <div class="box">
            <span></span>
            <p>It was fun working with SAPS Digital team. They are very supportive and I received quality work from them.</p>
            <div class="thumb">
              <img src="assets/img/sunil-singh-rawat.jpg" alt="">
            </div>
            <div class="author">
              <div class="author-name">Sunil Singh Rawat</div>
              <div class="author-position">Owner, Snow Leopard Productions</div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="box">
            <span></span>
            <p>Working with SAPS digital was fun. they atchully deliver the project 2-3 days before the deadline which is plus point to work with them.</p>
            <div class="thumb">
              <img src="assets/img/pooja-nainwal.jpg" alt="">
            </div>
            <div class="author">
              <div class="author-name">Pooja Nainwal</div>
              <div class="author-position">Manager, Mountain Roots Production</div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="box">
            <span></span>
            <p>I hired SAPS digital for the digital marketing of my products and found them hard working and time savers.</p>
            <div class="thumb">
              <img src="assets/img/arun-kumar.jpg" alt="">
            </div>
            <div class="author">
              <div class="author-name">Arun Kumar</div>
              <div class="author-position">Moto Vlogger</div>
            </div>
          </div>
        </div>
        
      </div>
    </div> -->
    
  </div>
</div>
<div class="bgColor mar-top-50">
  <div class="wrapper">
    <div class="title">Any Questions? Get In Touch!</div>
    <div class="txt-cont">
      Have question in mind ? <br>we love to discuss all your queries and love to resolve them as fast we can.
    </div>
    <a href="contact">Contact Us</a>
  </div>
</div>

