
  <div class="inr-banner web-development">
    <div class="wrapper">
      <div class="breadcrumbs txt-center">
        <a href="index.html">Home</a><a href="#">Web Development</a>
      </div>
      <h1 class="txt-center">Web Development</h1>
    </div>
  </div>
  <div class="mid-content">
      <div class="wrapper">
          <div class="row">
            <div class="col-md-9 col-lg-9">
              <div class="content">
                  <h2 class="smallmr">Web Designing</h2>
                <p>Whenever one has to promote the website, an approachable web design plays an important role. It is
                  perceived exclusively as a visual aspect. Web design incorporates abstract components, for example,
                  ease of use, layout customs, client habits, navigation rationale and other things, which can simplify the
                  information faster. However, our bunch of designers are not just good with website designing but plays
                  an excellent role in various other divisions required in designing.</p>
                <p>Design describes the visual appearance of the website but it is not fulfilled unless we concentrate on its
                  functionalities. Equally an approach towards color, balance, and rhythm is important as that of technical
                  details.</p>
                <p>Various other components are joined with the basic standards of design to create an excellent outcome
                  that meets the goals set for the website. Clients requirement is the first priority before moving onto the
                  ideal layout.</p>
                  <p><strong>We Offers below services under web designing:</strong></p>
                  <ul>
                    <li>Logo Design and Corporate Branding</li>
                    <li>Website UI Design</li>
                    <li>Flash Website Design</li>
                    <li>Image Processing</li>
                    <li>Website Re-Design</li>
                    <li>Mobile Website Design</li>
                  </ul>
                  <h2 class="smallmr">Web Development</h2>
                  <p>Web development is the coding or programming that empowers website usefulness, per the owner&#39;s
                      necessities. The site ought not be so simple that it doesn&#39;t interests the advanced users, nor it be so
                      complicated that the learner is effortlessly lost all the while.</p>
                  <p>Our web engineers have capable learning and ability in making your website enhanced and adaptable.
                      Creating plain content pages to complex online applications, interpersonal network applications and
                      electronic business applications, they all come under the range of web development. Our web
                      developers are professional with the technology, programming and web applications. And we can
                      develop a website according to the client&#39;s project prerequisites.</p>
                    <p><strong>We Offers below services under web development:</strong></p>  
                    <ul>
                      <li>HTML5-CSS3</li>
                      <li>PHP</li>
                      <li>Open Sources</li>
                      <li>ASP.NET</li>
                      <li>Java</li>
                      <li>Ajax</li>
                    </ul>
              </div>
            </div>
            <div class="col-md-3 col-lg-3">
              <app-tech-sidebar></app-tech-sidebar>              
            </div>
          </div>
        </div>
  </div>