
  <div class="inr-banner android">
      <div class="wrapper">
        <div class="breadcrumbs txt-center">
          <a href="index.html">Home</a><a href="#">Android</a>
        </div>
        <h1 class="txt-center">Android App Development</h1>
      </div>
    </div>
    <div class="mid-content">
        <div class="wrapper">
     
            <div class="row">
              <div class="col-md-9 col-lg-9">
                <div class="content">
                    <h2 class="smallmr">Android Development</h2>
                    <p>Over 80% of smart phones today run Android software. Android has the potential to play at the two
                        closures of the mobile phone range and perhaps even bridge the inlet amongst work and play. In past
                        few years, Android has become famous, with its candy-themed platform updates, as well as with its
                        boundless, and sudden, achievement. Android brags a healthy array of network choices, including Wi-Fi,
                        Bluetooth, and remote information over a cell association (for instance, GPRS, EDGE, and 3G).</p>
                    <p>We furnish with Android HoneyComb improvement, Android 4.0 IceCream sandwich advancement, and
                        Android Gingerbread advancement at negligible expenses. We hold mastery over Android information
                        storage and its resolution, 3D illustrations and gaming applications, notice and foundation applications,
                        speedy pursuit box and program applications, Bluetooth API and GPS route based applications, short
                        informing and talk applications, UI outline, and methods, portable and electronic applications and so on.
                        We in growth have an ability in the environs of movement, organizing, illustrations, reasoning
                        applications for big business, magazine, and recreations.</p>
                    <p>We provide the most creative Android application developers who are going to outshine the
                        performance of your business.</p>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <app-tech-sidebar></app-tech-sidebar>              
              </div>
            </div>
          </div>
    </div>