<div class="inr-banner">
    <div class="wrapper">
      <div class="breadcrumbs txt-center">
        <a href="index.html">Home</a><a href="#">Portfolio</a>
      </div>
      <h1 class="txt-center">Portfolio</h1>
    </div>
  </div>
  <div class="wrapper portfolio">
    <div class="content-box">
      <h2 class="txt-center mar50">Featured Projects</h2>
      <div class="filter-list">
        <ul>
          <li class="active" data-filter=".all">All</li>
          <li data-filter=".app">App Development</li>
          <li data-filter=".branding">Branding</li>
          <li data-filter=".web">Web Design</li>
        </ul>
      </div>
      <div class="grid-content">
	      <div class="grid all">
	        <div class="img-box">
	          <a href="https://agamenterprises.com/" target="_blank">
	          	<img src="assets/img/portfolio-img1.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://www.starexlogistic.com/" target="_blank">
	          	<img src="assets/img/portfolio-img2.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all branding app">
	        <div class="img-box">
	          <a href="http://globalpetrochem.in/" target="_blank">
	          	<img src="assets/img/portfolio-img3.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all branding">
	        <div class="img-box">
	          <a href="http://tobusese.com/" target="_blank">
	          	<img src="assets/img/portfolio-img4.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all web">
	        <div class="img-box">
	          <a href="http://www.allcitypackersmovers.com/" target="_blank">
	          	<img src="assets/img/portfolio-img5.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://www.southernmoverspackers.com/" target="_blank">
	          	<img src="assets/img/portfolio-img6.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://agarwalexpresspackers.com/" target="_blank">
	          	<img src="assets/img/portfolio-img7.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://www.sunvertor.com/" target="_blank">
	          	<img src="assets/img/portfolio-img8.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://artificialeyecenterindia.com/" target="_blank">
	          	<img src="assets/img/portfolio-img9.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://artplanetstore.in/" target="_blank">
	          	<img src="assets/img/portfolio-img10.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	         <a href="https://rbrealty.in/" target="_blank">
	         	<img src="assets/img/portfolio-img11.jpg" alt="">
	         </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://mountainrootsproduction.com/" target="_blank">
	          	<img src="assets/img/portfolio-img12.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://snowleopardpicture.com/" target="_blank">
	          	<img src="assets/img/portfolio-img13.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://iinara.com/" target="_blank">
	          	<img src="assets/img/portfolio-img14.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://ideagifts.in/" target="_blank">
	          	<img src="assets/img/portfolio-img15.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="http://galaxyitechsolutions.com/" target="_blank">
	          	<img src="assets/img/portfolio-img16.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="https://www.mrright.in/" target="_blank">
	          	<img src="assets/img/portfolio-img17.jpg" alt="">
	          </a>
	        </div>
	      </div>
	      <div class="grid all app">
	        <div class="img-box">
	          <a href="https://prernaconsultancy.com/" target="_blank">
	          	<img src="assets/img/portfolio-img18.jpg" alt="">
	          </a>
	        </div>
	      </div>
	    </div>
    </div>
  </div>