  <div class="mid-content">
      <div class="wrapper">
   
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="content">
                  <h2 class="smallmr">Privacy Policy</h2>
                  <p>This Privacy Policy governs the manner in which Saps Digital collects, uses, maintains and discloses information collected from users (each, a “User”) of the <a href="http://sapsdigital.com/">http://sapsdigital.com/</a>. This privacy policy applies to the Site and all products and services offered by Saps Digital.</p>  
              <p><strong>Personal Identification Information</strong></p>
              <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
              <p><strong>Non-personal Identification Information</strong></p>
              <p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>
              <p><strong>Web browser cookies</strong></p>
              <p>Our Site may use “cookies” to enhance User experience. User’s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>
              <p><strong>How we use collected information</strong></p>
              <p>Saps Digital may collect and use Users personal information for the following purposes:</p>
              <ul>
                <li><strong>To improve customer service</strong><br>
                  Information you provide helps us respond to your customer service requests and support needs more efficiently.
                </li>
                <li><strong>To share your information with third parties</strong><br>
                  We may share or sell information with third parties for marketing or other purposes. To send periodic emails
                </li>
              </ul>
              <p>We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</p>
              <p><strong>How we protect your information</strong></p>
              <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>
              <p>Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.</p>
              <p><strong>Sharing your personal information</strong></p>
              <p>We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.</p>
              <p><strong>Changes to this privacy policy</strong></p>
              <p>Saps Digital has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>
              <p><strong>Your acceptance of these terms</strong></p>
              <p>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
              <p><strong>Contacting us</strong></p>
              <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:</p>
              <p>query@sapsdigital.com</p>
              </div>
            </div>
          </div>
        </div>
  </div>