<div class="inr-banner search-en-res">
    <div class="wrapper">
      <div class="breadcrumbs txt-center">
        <a href="index.html">Home</a><a href="#">Search Engine Results</a>
      </div>
      <h1 class="txt-center">Search Engine Results</h1>
    </div>
  </div>
  <div class="wrapper">
      <h1 class="txt-center">SEO services &amp; Maintenance</h1>
      <div class="center-content">
        <p>Make your dream of ranking high on SERP’s come true. Our professionals won’t let your
            competitors win with their SEO tactics. We promise improved search engine visibility, high-
            end maintenance services, and effective optimization of your site.</p>
      </div>
    <div class="col-fix-bg">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="padall">
            <div class="sm-title">On page</div>
            <div class="sm-cont">Want to make your site keyword- targeted and SEO optimized? Yes? On-page Optimization
                by our professionals will prove out to be your best bet. From driving huge amount of traffic
                on your website to targeting customers with wise use of keywords, we will get you sorted
                with everything.</div>
            <div class="get-in-touch">
              <a href="/contact">Get In Touch</a>
            </div>    
          </div>
        </div>
        <div class="col-md-8 col-lg-8"><img src="assets/img/on-page.jpg" alt=""></div>
      </div>
    </div>


    <div class="col-fix-bg">
        <div class="row">
            <div class="col-md-8 col-lg-8"><img src="assets/img/off-page.jpg" alt=""></div>
          <div class="col-md-4 col-lg-4">
            <div class="padall">
              <div class="sm-title">Off page</div>
              <div class="sm-cont">Is your website not getting the deserved attention? Try our Off-page SEO techniques to
                  leverage social media for building your brand’s reputation. With the right set of promotion
                  tools and SEO techniques, our experts will elevate your brand’s image online.</div>
                  <div class="get-in-touch">
                      <a href="/contact">Get In Touch</a>
                    </div>             </div>
          </div>          
        </div>
      </div>



      <div class="col-fix-bg">
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <div class="padall">
                <div class="sm-title">Loading Time</div>
                <div class="sm-cont">Our professionals will enhance the credibility of your site by optimizing the images and text
                    featured on your site. We are equipped with world class servers in order to serve nothing
                    less than the best to the clients.</div>
                <div class="get-in-touch">
                  <a href="/contact">Get In Touch</a>
                </div>    
              </div>
            </div>
            <div class="col-md-8 col-lg-8"><img src="assets/img/loading-time.jpg" alt=""></div>
          </div>
        </div>


        <div class="col-fix-bg">
            <div class="row">
                <div class="col-md-8 col-lg-8"><img src="assets/img/maintenance.jpg" alt=""></div>
              <div class="col-md-4 col-lg-4">
                <div class="padall">
                  <div class="sm-title">Maintenance</div>
                  <div class="sm-cont">You will always find us standing by your side whenever you need our support. Reach us at
                      ……… Feel free to reach for any enquiries.</div>
                      <div class="get-in-touch">
                          <a href="/contact">Get In Touch</a>
                        </div>             </div>
              </div>          
            </div>
          </div>
    
  </div>