
  <div class="inr-banner domain-hosting">
      <div class="wrapper">
        <div class="breadcrumbs txt-center">
          <a href="index.html">Home</a><a href="#">Domain/Hosting</a>
        </div>
        <h1 class="txt-center">Identity And Servers</h1>
      </div>
    </div>
    <div class="mid-content">
        <div class="wrapper">
     
            <div class="row">
              <div class="col-md-9 col-lg-9">
                <div class="content">
                    <h2 class="smallmr">Domains And Hosting Plans</h2>
               <p>Web hosting is a service that enables associations and people to post a site or a webpage onto the
                  internet. We, as your web hosting facilitators, provide the technologies and services needed for the
                  website or the webpage to be seen on the internet. When internet users want to see your website, they
                  should simply type your website address or domain into their program.</p>
               <p>We offer a scope of hosting packages, to suit your business necessities and hosting plans. Our technical
                  and skillful players digs out the best and suitable plans for you to get the best out of our domain and
                  hosting services.</p>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <app-tech-sidebar></app-tech-sidebar>              
              </div>
            </div>
          </div>
    </div>