<div class="list-blck">
    <div class="title">Technology</div>
    <ul>
      <li><a href="javascript:void(0)">Internet Technology</a>
        <ul>
            <li><a [routerLink]="['internet-technology/web-development']">Web Development</a></li>
            <li><a [routerLink]="['internet-technology/maintenance']">Maintenance</a></li>
            <li><a [routerLink]="['internet-technology/seo-smo']">SEO/SMO</a></li>
            <li><a [routerLink]="['internet-technology/device-friendly']">Device Friendly</a></li>
            <li><a [routerLink]="['internet-technology/ecommerce']">E-commerce</a></li>
            <li><a [routerLink]="['internet-technology/domain-hosting']">Domain/Hosting</a></li>
        </ul>
      </li>
      <li><a href="javascript:void(0)">Mobile Technology</a>
        <ul>
            <li><a [routerLink]="['mobile-technology/ios']">IOS</a></li>
            <li><a [routerLink]="['mobile-technology/android']">Android</a></li>
        </ul>
      </li>
    </ul>
  </div>