<div class="mid-content">
    <div class="wrapper">
 
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="content">
                <h2 class="smallmr">Terms and Conditions</h2>
              <p>This Service Agreement (“Agreement”) is hereby entered into between Saps Digital (hereinafter referred to as “the Agency”) and the party set forth in the related order form (“the Client” or “you”) incorporated herein by this reference (together with any subsequent attached forms submitted by Client) and applies to the purchase of all Technical or Digital Marketing services ordered by Client.</p>
              <p>Definitions:</p>
              <p><strong>Web Development:</strong> Web development is the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing a simple single static page of plain text to complex web-based internet applications (web apps) electronic businesses, and social network services.</p>
              <p><strong>Mobile Application Development:</strong> Mobile application development is the complete process of creating all of the designs, assets, and code required to implement an software application that runs on a mobile device and all of its supporting services that are accessed from the mobile application via the a network connection and run on remote computing resources. </p>
              <p><strong>Digital Marketing:</strong> Digital marketing is the use of the internet, mobile devices, social media, search engines, display advertising and other channels to reach consumers. As a subset of traditional marketing, digital marketing goes beyond the internet to include Short Message Service (SMS), Simple Notification Service (SNS), search engine optimization (SEO), electronic or interactive billboards and other online ads (such as banner ads) to promote products and services.</p>
              <p><strong>Search Engine Optimization:</strong> Search engine optimization (SEO) is the practice of increasing the quantity and quality of traffic to your website through organic search engine results.</p>
              <p><strong>Media Buying:</strong> Media buyers negotiate and purchase audience-targeted time and advertising space to convey a marketing message.</p>
              <p>Types of Online Marketing</p>
              <ul>
                <li><strong>Affiliate Marketing</strong> - A business recruits associates to promote the company's products or services. The associates receive a commission or other similar rewards for every sale, visitor, subscriber, or customer they bring to the company</li>
                <li><strong>Display Advertising</strong> - The use of web banners or banner ads placed on a third-party website to drive traffic to a company's own website and increase product awareness</li>
                <li><strong>Email Marketing</strong> - Send promotional emails directly to customers.</li>
                <li><strong>Interactive Advertising</strong> - Use of animations and other graphic techniques to create ads that engage the viewer and invite participation</li>
                <li><strong>Search Engine Marketing</strong> - Search engine marketing techniques that companies can use to increase their visibility in the search engine page results from Google and its competitors</li>
                <li><strong>Viral Marketing</strong> - Companies encourage customers to pass along information about their products or services</li>
              </ul>
              <p><strong>Term and Termination:</strong> This Agreement shall be effective as of the time frame set forth on the Order Form. This Agreement may be terminated by either party upon written notice to the other within thirty (30) days of receipt of the notice. This Agreement may be terminated by the Agency (i) immediately if the Client fails to pay any fees hereunder; or (ii) if the Client fails to cooperate with the Agency or hinders the Agency’s ability to perform the Services hereunder. The Client shall pay all outstanding invoices and all other sums due to the Agency under this Agreement (or in respect of the relevant Services). In addition to its obligations to make payments under the express terms of this Agreement, if the Client arranges for a third party to provide the Services during the Notice Period, it shall pay the Agency a sum equivalent to the remuneration which the Agency would have received had the Agency provided the Services during that period.</p>
              <p><strong>SEO SERVICES</strong> (a) In performing the Organic Search Services (OSO), the Agency shall develop a plan intended to increase the visibility of the Client’s Website(s) and improve the search ranking of the Website(s) in relation to search terms relevant to the Client’s business, and provide related program strategy and tactical recommendations.(b) The Client acknowledges that the OSO Services will require modifications to the Website(s) which may include changes to site titles, metadata, copy, structure, links, and other factors that influence higher index visibility and keyword ranking.(c) The Client will be responsible for providing appropriate personnel to work with the Agency to implement the recommendations provided as part of the OSO Services.(d) The Client shall be solely responsible for operating, maintaining and managing all aspects of the Website. (e) The Agency will own the right to search engine optimization we implement on websites, platforms or applications until all work has been completed and paid for.</p>
              <p><strong>WEB DEVELOPMENT</strong> (a) Copyright. The client retains the right to data, files and graphics provided by the client. The client warrants that they hold all rights, permissions and copyright to all information provided and fully indemnify the agency against any and all claims, costs or actions regarding the use of information, files and graphics supplied by the client for the agency to use in respect of contracted web development services provided to the client. (b) Law. It is the client's responsibility to comply with the laws, taxes, and tariffs relating to web-sites and the agency does not offer legal advice in these matters (c) Proprietary code. Should the agency write custom code for a website or application required by the client, then the copyright for such code shall remain with the agency. In such cases the agency shall authorize the client to make full usage of such code within the confines of their own business only, unless agreed separately in writing. (d) The Agency will own the right to the IP of all online websites, platforms or applications (including modifications/bespoke coding made to open source solutions) which are being built or edited, until all work on them has been completed and paid for. (e) Please contact Saps Digital for more information on website management packages where hosting security and the backups of websites is included.</p>
              <p><strong>Fees; Limitations on Refunds and Cancellation Fees</strong> (a) The Client agrees to pay the Agency any and all fee(s) as stated in Order Form. (b) Remuneration and assignments shall be reviewed annually or at any time in the event of substantial changes to the Client’s requirements. Any agreed review shall be confirmed in writing by both parties. Where the Agency’s remuneration is a fee based on the projected time to be incurred in providing the Services the Agency reserves the right to reconcile and adjust the fee every six months to reflect the actual time spent. (c) If the Client and the Agency are unable to agree remuneration in advance of the due date for the annual review the remuneration previously applied shall continue to be payable until such time as agreement is reached, at which point any necessary balancing payment shall be made, or until the Agreement appointment is terminated. (d) The Agency will invoice monthly and payment terms are 30 days from the date of each invoice. If the Client fails to pay any invoice within 10 days of the due date, the Agency shall have the right to suspend the Services.(e) Unless otherwise agreed in writing all fee or commission payments will be invoiced and paid in the currency in which the Agency is to incur those costs. (f) In the event that the Client requires any additional services outside of the originally agreed scope, the parties agree to negotiate in good faith with respect to the terms, conditions, and compensation for those additional services. (g) Travel and associated expenses and any other out-of-pocket expenses incurred by the Agency or its employees at the Client’s prior written request or incurred outside the scope of the Agency’s normal duties will be charged to the Client at cost. (h) The existence of a query on an individual item in an account will not affect the due date of payment for the balance of the account. (i) Absence of any Client purchase order number or other job number will not constitute a valid reason for non-payment. (j) All fees, costs and all other amounts to be invoiced to the Client are exclusive of Value Added Tax or other local sales or other taxes or duties (GST), which will be added to all invoices at the prevailing rate if required by law. (k) The Agency reserves the right to charge interest on all overdue amounts at the higher of the local applicable interest rate _____.</p>
              <p><strong>The Client RESPONSIBILITIES For the purposes of providing these services</strong>, Client agrees:</p>
              <ul>
                <li>To provide the Agency with FTP access to its web sites for uploading new pages, and making changes for the purpose of SEO Services optimization or approval to go through a third party.</li>
                <li>To authorize the Agency, use of all the Client’s logos, trademarks, Website images, etc., for use in creating informational pages and any other uses as deemed necessary by Agency for search engine positioning and optimization.</li>
                <li>That if the Client’s web site(s) is light in textual content, the Client will provide additional relevant text content in electronic format for the purpose of creating additional web pages. Client agrees to provide content, for example 200 to 500 word “articles” about each of their keyword phrases.</li>
              </ul>
              <p><strong>Search Engines</strong> (a) Unless otherwise agreed by the parties in writing, in accordance with industry standard practice, the Agency’s contracts with search engines and other suppliers for the Clients’ paid search marketing are made in accordance with the search engine/supplier’s current standard terms, conditions and contracts. The Agency shall act as principal in dealing with all search engines/suppliers and all other suppliers unless otherwise mandated by local laws. In respect of the placing of all advertisements, the rights and liabilities between the Client and the Agency shall correspond to those between the Agency and the various search engines/suppliers under such conditions and contracts. Accordingly, the Client acknowledges and accepts: (i) that terms and rates are subject to revision in accordance with the agreements made by the various search engines/suppliers concerned and (ii) that all standard trading terms of search engines and other suppliers will be adhered to by the Client. (b) The Client shall indemnify the Agency and the relevant search engine/supplier in respect of any breach of any search engine/supplier terms which occurs as a result of any act or omission by the Client.</p>
              <p><strong>The Client ACKNOWLEDGEMENTS The Client understands, acknowledges and agrees that:</strong></p>
              <p>The Agency has no control over the policies of search engines or directories with respect to the type of sites and/or content that they accept now or in the future. The Client’s web site(s) may be excluded from any search engine or directory at any time at the sole discretion of the search engine or directory entity. The Agency will resubmit those pages that have been dropped from the index.</p>
              <p>Some search engines and directories may take as long as two (2) to four (4) months, and in some cases longer, after submission to list The Client’s web site(s).
                  Occasionally, search engines and directories will stop accepting submissions for an indefinite period of time.
                  </p>
              <p>Occasionally, search engines and directories will drop listings for no apparent or predictable reason. Often listing will “reappear” without any additional submissions. Should the listing not reappear, the Agency will re-submit the web site(s) based on the current policies of the search engine or directory in question.
                  Some search engines and directories offer expedited listing services for a fee. The Agency encourages the Client to take advantage of these expedited services. The Client is responsible for all expedited service fees unless otherwise noted in the Order Form.
                  </p>
              <p><strong>Website Changes</strong> the Agency is not responsible for changes made to the Client’s website(s) by other parties that adversely affect the search engine or directory rankings of Client’s web site(s).</p>
              <p><strong>Additional services</strong> not listed herein or in Order Form will be provided for up to ₹6000/per hour. The Agency is not responsible for the Client overwriting SEO Services work to the Client’s web site(s). The Client will be charged an additional fee for re-constructing meta-tags, keywords, content, etc. based on the hourly rate of up to £65 per hour.</p>
              <p><strong>Indemnification</strong> The Client shall indemnify and hold harmless the Agency (and its subsidiaries, affiliates, officers, agents, co-branders or other partners, and employees) from any and all claims, damages, liabilities, costs, and expenses (including, but not limited to, reasonable legal fees and all related costs and expenses) incurred by Agency as a result of any claim, judgment, or adjudication against the Agency related to or arising from (a) any photographs, illustrations, graphics, audio clips, video clips, text, data or any other information, content, display, or material (whether written, graphic, sound, or otherwise) provided by the Client to the Agency (the “the Client Content”), or (b) a claim that the Agency’s use of the Client Content infringes the intellectual property rights of a third party. To qualify for such defense and payment, the Agency must: (i) give the Client prompt written notice of a claim; and (ii) allow the Client to control, and fully cooperate with the Client in, the defense and all related negotiations.</p>
              <p><strong>Limited Liability</strong> In no event shall the agency be liable to client for any indirect, special, exemplary or consequential damages, including any implied warranty/merchantability or fitness for a particular purpose and in particular any claim of the failure of any software contained on rented or owned servers of the client or implied warranties arising from course/dealing or course of performance, lost profits, whether or not foreseeable or alleged to be based on breach of warranty, contract, negligence or strict liability, arising under this agreement, loss of data or any performance under this agreement, even if such party has been advised of the possibility of such damages and notwithstanding the failure of essential purpose of any limited remedy provided herein. There shall be no refunds. The agency makes no warranty of any kind, whether express of implied with regard to any third party products, third party content or any software, equipment, or hardware obtained from third parties. The client is responsible for back up of the complete system, and re installing in event of failure of software.
                  Where we the agency carry out design work or bespoke coding all intellectual property rights will remain with Saps Digital until all work has been paid for in full.
                  </p>
              <p><strong>The Client REPRESENTATIONS the Client makes the following representations and warranties for the benefit of the Agency:</strong></p>
              <p>The Client represents to the Agency and unconditionally guarantees that any elements of text, graphics, photos, designs, trademarks, or other artwork furnished to the Agency are owned by the Client, or that the Client has permission from the rightful owner to use each of these elements, and will hold harmless, protect, and defend the Agency and its subcontractors from any claim or suit arising from the use of such elements furnished by the Client.</p>
              <p>The Client guarantees any elements of text, graphics, photos, designs, trademarks, or other artwork provided to the Agency for inclusion on the website above are owned by the Client, or that the Client has received permission from the rightful owner(s) to use each of the elements, and will hold harmless, protect, and defend the Agency and its subcontractors from any liability or suit arising from the use of such elements.</p>
              <p>From time to time governments may enact laws and levy taxes and tariffs affecting Internet electronic commerce. The Client agrees that the client is solely responsible for complying with such laws, taxes, and tariffs, and will hold harmless, protect, and defend the Agency and its subcontractors from any claim, suit, penalty, tax, or tariff arising from the Client’s exercise of Internet electronic commerce.</p>
              <p><strong>Confidentiality</strong></p>
              <p>The parties agree to hold each other’s Proprietary or Confidential Information in strict confidence. “Proprietary or Confidential Information” shall include, but is not limited to, written or oral contracts, trade secrets, know-how, business methods, business policies, memoranda, reports, records, computer retained information, notes, or financial information. Proprietary or Confidential Information shall not include any information which: (i) is or becomes generally known to the public by any means other than a breach of the obligations of the receiving party; (ii) was previously known to the receiving party or rightly received by the receiving party from a third party; (iii) is independently developed by the receiving party; or (iv) is subject to disclosure under court order or other lawful process. The parties agree not to make each other’s Proprietary or Confidential Information available in any form to any third party or to use each other’s Proprietary or Confidential Information for any purpose other than as specified in this Agreement. Each party’s proprietary or confidential information shall remain the sole and exclusive property of that party. The parties agree that in the event of use or disclosure by the other party other than as specifically provided for in this Agreement, the non-disclosing party may be entitled to equitable relief. Notwithstanding termination or expiration of this Agreement, the Agency and the Client acknowledge and agree that their obligations of confidentiality with respect to Proprietary or Confidential Information shall continue in effect for a total period of three (3) years from the effective date.</p>
              <p><strong>Data Protection:</strong> All information collected from or for the client will be held subject to the confidentiality terms of this agreement and in accordance with data protection laws. Such information will only be held by Saps Digital during the term of this contract. The client will have full responsibility in respect of complying with the Data Protection Act for all information that Saps Digital collects and supplies to the client in the course of carrying out the contracted work.</p>
              <p><strong>Failure to Perform</strong> Neither party will be liable for any delay or for failure to perform its obligations if that delay or failure is caused by circumstances beyond the control of the party including but not limited to, acts of God, industrial dispute, civil disturbance, strikes (other than strikes by that party’s employees or its sub-contractor’s employees) or lockouts or impossibility of obtaining source material. Such party shall be entitled to a reasonable extension of time for the performance of such obligations.</p>
              <p><strong>Relationship of Parties</strong> the Agency, in rendering performance under this Agreement, shall be deemed an independent contractor and nothing contained herein shall constitute this arrangement to be employment, a joint venture, or a partnership. The Client does not undertake by this Agreement, the Order Form or otherwise to perform any obligation of the Agency, whether by regulation or contract. In no way is the Agency to be construed as the agent or to be acting as the agent of Client in any respect, any other provisions of this Agreement notwithstanding.</p>
              <p><strong>Notice and Payment</strong> Any notice required to be given under this Agreement shall be in writing and delivered personally to the other designated party at the addresses listed in the Order Form. Either party may change its address to which notice or payment is to be sent by written notice to the other under any provision of this paragraph.</p>
              <p><strong>Jurisdiction</strong> This Agreement shall be subject to and interpreted in accordance with Indian law whose courts in India shall have non-exclusive jurisdiction.</p>
              <p><strong>Agreement Binding on Successors</strong> The provisions of the Agreement shall be binding upon and shall inure to the benefit of the Parties hereto, their heirs, administrators, successors and assigns.</p>
              <p><strong>Assignability</strong> Client may not assign this Agreement or the rights and obligations thereunder to any third party without the prior express written approval of the Agency. The Agency reserves the right to assign subcontractors as needed to this project to ensure on-time completion.</p>
              <p><strong>Waiver</strong> No waiver by either party of any default shall be deemed as a waiver of prior or subsequent default of the same of other provisions of this Agreement.</p>
              <p><strong>Integration</strong> This Agreement constitutes the entire understanding of the Parties, and revokes and supersedes all prior agreements between the Parties and is intended as a final expression of their Agreement. It shall not be modified or amended except in writing signed by the Parties hereto and specifically referring to this Agreement. This Agreement shall take precedence over any other documents which may conflict with this Agreement.</p>
              <p><strong>No Inference Against Author</strong> No provision of this Agreement shall be interpreted against any Party because such Party or its legal representative drafted such provision.</p>
              <p><strong>Disputes</strong> In the event of any dispute arising out of the Agreement, the parties will attempt to settle it by negotiation. To this end, they shall use their respective best endeavors to consult or negotiate with each other, in good faith and, recognizing their mutual interests attempt to reach a just and equitable settlement satisfactory to both parties. Negotiations shall be conducted between the respective senior executives of the parties who gave authority to settle disputes.</p>
              <p><strong>Read and Understood</strong> Each Party acknowledges that it has read and understands this Agreement and agrees to be bound by its terms and conditions.
                  Social Media
                  </p>
              <p>a) In performing Social Media Services (SMS) the agency shall develop a plan intended to improve the visibility of the clients business profile on the selected social media sites.</p>
              <p>b) The client acknowledges that the Social Media Services will require the client to enable the agency to make posts on the clients behalf across the social media sites included with the service in order to influence the visibility and ranking of the clients profile.</p>
              <p>c) The client shall be responsible for providing the agency with the necessary login details to make posts and also for providing copy and/or information necessary for the agency to ensure posts are fully effective.</p>
              <p>d) The client retains full responsibility for maintaining their social media profile and all links and content contained therein.</p>
              <p><strong>Additional Terms and Conditions Relating to Paid Search Marketing Services</strong></p>
              <p>Where the Client appoints the Agency to supply paid search marketing services (“PSM Services”), the terms of this Annex A shall apply.</p>
              <p>The Services In performing the PSM services, the Agency shall:</p>
              <ul>
                <li>proactively manage, monitor, track and measure search engine marketing programs and promote the marketing of the Client’s products and/or services (“Products”) on the Website(s) (and all successor or replacement sites thereto);</li>
                <li>manage the relationships with and payments to the owners, operators and/or administrators of the relevant search engines or directories (“Search Partners”);</li>
                <li>manage bid price, listing terms, monthly spend, adding and deleting listings, creating new listings and changing bid amounts;</li>
                <li>provide, monitor and maintain the necessary technology applications required to link the Website(s) to Search Partners; and</li>
                <li>track and report certain metrics including number of clicks, sales conversion data and ROI measurements and, if applicable to the Agency’s fees, track and report the nature and volume of all relevant actions as identified in the MSA by Qualified Customers</li>
              </ul>
              <p>Payment for PSM Services (a) The fees set out in the Service Agreement are exclusive of any application program interface (“API”) access or similar fees that a Search Partner may charge to the Agency in connection with the Client’s search marketing program.  The Agency reserves the right to charge the Client (and the Client agrees to pay) the amount of such fees. Where such Search Partners assess a specific cost-per-click charge, that cost will be billed to the Client by the Agency.  </p>
              <p>In instances where a Search Partner charges the Agency a flat fee for API access, the Agency shall pass all such API fees along to its PSM clients on a pro-rata basis. For purposes of clarification, in such instances, the Agency shall use commercially reasonable efforts to determine the approximate effective API cost on a per-click basis for all applicable clients. Each such client shall then be charged its proportionate share of the API expense. (b)  A “Qualified Customer” shall mean any individual or entity that (i) places an order for Products from the Website(s) within sixty (60) days of clicking through to the Website(s) via hyperlinks contained within the Client’s keywords, titles and descriptions, listings, content, data and data feeds relating to the Client’s Products keywords, titles and descriptions, listings, content, data and data feeds relating to the Client’s Products (“Offers”) as displayed with any Search Partner or via any other promotional placement provided by the Agency or (ii) completes and submits Client’s registration form within sixty (60) days of clicking through to the Website(s) via hyperlinks contained within Client’s Offer as displayed with any Search Partner or via any other promotional placement provided by the Agency.   “Monthly Sales” shall mean the net number of Products ordered by Qualified Customers during a calendar month.  Monthly Sales shall be calculated exclusive of fraudulently placed orders identified in writing by Client within five (5) days after the date of the fraudulently placed order, transportation and packaging costs, insurance, and taxes.</p>
              <p><strong>Responsibilities of Client</strong></p>
              <p>The Client shall be solely responsible for monitoring, operating, maintaining and managing the content of the Website(s). The Client will ensure that navigation back to the originating Search Partner web page, whether through a particular pointer or link, the “back” button on an Internet browser, the closing of an active window, or any other return mechanism, shall not be interrupted by the Client through the use of any intermediate screen or other device not specifically requested by the user, including without limitation through the use of any html popup window or any other similar device.</p>
              <p>The Client shall be solely responsible for providing and/or approving relevant and appropriate offers so that the Agency can seek to manage and optimize search engine placement of the Offers.  The Client agrees and acknowledges that a Search Partner may, in its sole discretion, refuse to display or continue to display any of the Client’s Offers and that neither the Agency nor any Search Partner shall be liable such refusal.</p>
              <p>The Client shall be solely responsible for all aspects of the relationship with all persons and/or entities that purchase Products or submit a registration, as the case may be, including without limitation:</p>
                <ul>
                  <li>establishing all prices for Products;</li>
                  <li>accepting, processing and fulfilling orders for Products;</li>
                  <li>collecting payment, including all taxes or other charges due, from Qualified Customers;</li>
                  <li>managing returned Products and cancellations;</li>
                  <li>ensuring that the sale of all Products is made in conformance with all applicable laws (including export control laws);</li>
                  <li>determining all customer service, warranty and/or operational policies;</li>
                  <li>accepting and processing registrations;</li>
                  <li>satisfying all commitments or obligations resulting from each completed registration;</li>
                  <li>ensuring that each registration, and the information collected in processing each registration, is acquired and used in conformance with all applicable laws.</li>
                </ul>
              <p>The Client shall provide the Agency with sales and marketing information applicable to the Products as is available from time to time in order to assist the Agency in establishing relationships with Search Partners.</p>
              <p>The Client shall provide its reasonable cooperation with respect to efforts made by the Agency to: (i) improve the tracking and reporting of relevant information including but not limited to the number of clicks and sales conversion data and/or purchases made or registrations submitted by Qualified Customers and (ii) implement and test the technology applications used to link the Website(s) to Search Partners. The Agency shall provide the Client with a one-by-one (1×1) clear pixel (the “Image Tag”) to allow for tracking by the Agency. The Client will not take any action with respect to this Image Tag that would interfere with the Agency’s ability to carry out its activities under this Agreement and will provide reasonable advance notice to the Agency of any action reasonably expected to have such effect. If the Agency’s remuneration is based upon actions of Qualified Customers, should the Client modify, alter, delete, disable, fail to serve or take any other action with regard to the Image Tags provided to the Client by the Agency, the Client agrees to pay to the Agency for each day, or pro-rata portion of any day, during which the Agency’s ability to track such data is hindered, the average amount of remuneration earned by the Agency and Search Partners per day during the seven (7) day period immediately preceding the period of time during which the Agency’s tracking ability was hindered.</p>
              <p>The Client shall protect any passwords, access codes, user IDs or other login information (collectively, “Passwords”) provided to the Client that are used to access the Agency’s online program management and reporting tools. In the event that the Client makes such Passwords available to any third party, the Client shall (i) obligate each such third party to execute a written confidentiality agreement that binds that third party to confidentiality obligations consistent with those imposed upon the Client hereunder; and (ii) be liable for all actions taken by such third party in connection with or related to that third party’s access to the Agency’s online program management and reporting tools. Except as specifically set forth in this Agreement, the Client shall not disclose or make available the Client’s Passwords other than to the Client’s authorized employees.</p>
            </div>
          </div>
        </div>
      </div>
</div>