@font-face{
    font-family:'Material Icons';
    font-style:normal;
    font-weight:400;
    src:url(../fonts/MaterialIcons-Regular.eot);
    src:local("Material Icons"),local("MaterialIcons-Regular"),
    url(../fonts/MaterialIcons-Regular.woff2) format("woff2"),
    url(../fonts/MaterialIcons-Regular.woff) format("woff"),
    url(../fonts/MaterialIcons-Regular.ttf) format("truetype")
}
@font-face{
    font-family: silicon-icons;
    src:url(../fonts/silicon-icons396b.ttf?7tda0q) format('truetype'),
    url(../fonts/silicon-icons396b.woff?7tda0q) format('woff'),
    url(../fonts/silicon-icons396b.svg?7tda0q#silicon-icons) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face{
    font-family: socicon;
    src:url(../fonts/socicon.eot);
    src:url(../fonts/socicond41d.eot?#iefix) format("embedded-opentype"),
    url(../fonts/socicon.woff) format("woff"),
    url(../fonts/socicon.ttf) format("truetype"),
    url(../fonts/socicon.svg#socicon) format("svg");
    font-weight:400;
    font-style:normal
}
