@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
* {margin: 0;padding: 0;}
body {
  font-size: 14px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  line-height: 23px
}

div, header, section, footer, nav, article, address, input, textarea, select, button {
  box-sizing: border-box;
}
input:focus, textarea:focus, select:focus, button:focus{outline: 0;}
img {display: block; width: 100%;}
a {
  color: #333;
  text-decoration: none;
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin: 40px 0;
  line-height: 1.9;
}
h4, h5 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 20px 0;
  line-height: 1.9;
}
h2.smallmr{margin: 10px 0;}

header {
  position: absolute;
  height: 85px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 10;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: all .35s;
}
header.inr-header {position: relative; background: #fff;border-bottom: 1px solid #ccc}
header.hdr-fix, header.inr-header.hdr-fix {position: fixed; background: #fff;border-bottom: 1px solid #ccc}
.wrapper {
  max-width: 1300px;
  padding: 0 15px;
  margin: auto;
}
.logo {
  float: left;
  padding-top: 20px;
}
.logo img {
  display: block;
  width: 100%;
}

.mega-menu {display: none;}
.navigation {
  float: right;
  padding-top: 33px;
}
.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation ul li {
  float: left;
  position: relative;
}
.navigation ul li a {
  display: block;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px 29px;
}
.navigation ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background: #fff;
  box-shadow: 0 11px 15px rgba(0, 0, 0, 0.2);
}
.navigation ul li li {
  float: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.navigation ul li:hover ul {
  display: block;
}
.navigation ul li:hover .mega-menu {
  width: 500px;
  position: absolute;
  top: 100%;
  left: -200px;
  background: #fff;
  padding: 20px 0;
  display: block;
  box-shadow: 0 11px 15px rgba(0, 0, 0, 0.2);
}
.navigation ul li:hover .mega-menu ul {
  position: static;
  overflow: hidden;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
  padding: 0 15px;
}
.navigation ul li .mega-menu ul {
  box-shadow: none !important;
}
.navigation ul li:hover .mega-menu ul li.col-left {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.navigation ul li:hover .mega-menu ul li.col-left:first-child{
  border-right: 1px solid #ccc;
}
.navigation ul li:hover .mega-menu ul li.col-left a {
  color: #000;
  font-weight: 500;
}
.navigation ul li li a {
  padding: 8px 15px;
  color: #333;
  font-weight: 400;
  text-transform: none;
  line-height: 20px;
}
.navigation ul li li a:hover {
  background: #fff;
  color: #333;
}
.navigation ul li li li a {
  background: url(../img/arrow.png) no-repeat 0 47%;
  padding: 7px 15px !important;
  color: #333 !important;
}
.navigation ul li li li a:hover {
  background: url(../img/arrow.png) no-repeat 0 47%;
}
.navigation a.active{color: #f4b119 !important; background: url(../img/arrow-orange.png) no-repeat 0 47% !important;}
.navigation a.active2{color: #f4b119 !important;}
.hdr-fix .navigation ul li a {
  color: #333;
}
.inr-header .navigation ul li a {
  color: #333;
}
.banner {
  padding: 240px 0;
  background: url(../img/digital-agency.png) no-repeat 50% 50% /cover;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.text-large {
  font-size: 60px;
  font-weight: 900;
  margin-top: 40px;
  padding-bottom: 15px;
  line-height: 70px;
}
.text-small {
  font-size: 24px;
  margin-bottom: 40px;
}
.txt-center {
  text-align: center;
}
.content-box {padding: 40px 0}
.inr-box {text-align: center; border-bottom: 2px solid #f4b119; padding-bottom: 25px}
.inr-content {margin-bottom: 30px; padding: 0 15px;}
.inr-box a {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 50px;
}
.inr-box:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.inr-box a:hover {box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);}
h2.mar50{margin-bottom:50px}
.grid-content:after {content: '';display: block; clear: both;}
.grid{float: left; width:33.333%;}
.grid .img-box {padding:15px;}
.grid img{width: 100%; display: block; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
.filter-list {text-align: center;}
.filter-list ul {
  list-style: none;
  margin: 0;
  padding: 0 0 30px;
}
.filter-list ul li {
  display: inline-block;
  vertical-align: top;
  padding: 9px 30px;
  border-radius: 50px;
  margin: 0 10px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}
.filter-list ul li.active {
  background: #3d59f9;
  color: #fff;
}
.filter-list ul li:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.filter-list ul li.active:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
a.linkBtn {
  display: inline-block;
  vertical-align: top;
  padding: 9px 30px;
  border-radius: 50px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-top: 45px;
}
a.linkBtn:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: #3d59f9;
  color: #fff;
}
.blueBg {
  background-image: url(../img/agency_steps_bg.jpg);
  background-position: 50% 50%;
  background-attachment: scroll;
  background-size: cover;
  padding: 60px 0;
}
.sm-content {
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 60px;
}
.count {
  font-size: 75px;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
}
.step-body {
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
}
.txt-block {
  font-size: 24px;
  padding-bottom: 16px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.blueBg h2 {
  color: #fff;
}
.wrapper.pad70 {
  padding: 70px 0;
}
.logo-slider .item img {
  width: 100px;
}
.background-gray {
  background: #f5f5f5;
  display: none;
}
footer {
  background: #222;
  padding: 72px 0 25px;
  position: relative;
}
footer .loader{width: 100%; height: 100%; position: absolute; top: 0; left: 0;
z-index: 9; background: url(../img/Rolling-1s-200px.svg) center no-repeat rgba(0,0,0,0.8);}
footer.inr-footer.mar0 {margin-top: 0;}
.white-txt {
  color: #fff;
  font-size: 35px;
}
.input-field {
  padding-bottom: 30px;
}
.input-field.halfleft{float: left; width: 48%;}
.input-field.halfright{float: right; width: 48%;}
.clr{clear: both;}
.input-field label {
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.25;
  font-family: 'Roboto', sans-serif;
  padding: 0 25px 8px;
}
.input-field input {
  display: block;
  width: 100%;
  height: 48px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 0 25px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: none;
  transform: translate3d(0, 0, 0);
  transition: all .35s;
}
.input-field textarea {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 25px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: none;
  transform: translate3d(0, 0, 0);
  transition: all .35s;
  resize: none;
}
.input-field input:focus, .input-field textarea:focus {
  background: rgba(255, 255, 255, 0.1);
}
.input-field .error {
  display: none;
}
.submitBtn {
  display: inline-block;
  vertical-align: top;
  transform: translate3d(2, 0, 0);
  transition: all .35s;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 14px;
  padding: 0 25px;
  height: 48px;
  background: none;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.submitBtn span {
  position: relative;
  z-index: 2;
}
.submitBtn:hover span {color: #333;}
.submitBtn:after {
  position: absolute;
  width: 100%;
  height: 0;
  background: #fff;
  color: #fff;
  bottom: 0;
  left: 0;
  opacity: 0;
  content: '';
}
.submitBtn:hover:after{
  opacity: 1;
  height: 100%;
}
.submitBtn:disabled{cursor: default;}
.ft-box {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding: 25px 0 0;
  margin-top: 65px;
}
.copy {
  text-align: center;
  color: rgba(255, 255, 255, 0.25);
  font-size: 13px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.copy span {padding-right: 45px;}
.copy a {
  color: rgba(255, 255, 255, 0.25);
  display: inline-block;
}
.copy a:after {
  content: '|';
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}
.copy a:last-child:after{display: none;}

.inr-banner {
  padding: 100px 0;
  background: url(../img/contacts_page_title.jpg) no-repeat fixed top / cover;
  position: relative;
}
.inr-banner h1 {
  color: #fff;
  font-size: 50px;
  position: relative;
  z-index: 5;
}
.inr-banner.about {
  background: url(../img/about_us_pt.jpg) no-repeat fixed top / cover;
}
.inr-banner.branding {
  background: url(../img/computer-desk-home-office-9411.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.branding:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.breadcrumbs{
  z-index: 5;
  position: relative;
}
.breadcrumbs a{
  color: #fff;
  padding: 0 15px;
}
.contact .input-field label {
  color: #333;
}
.contact .input-field input, .contact .input-field textarea {
  border-color: rgba(0, 0, 0, 0.2);
  color: #333;
}
.contact .input-field input:focus, .contact .input-field textarea:focus {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
footer.inr-footer {
  padding: 50px 0;
  margin-top: 100px;
}
.inr-footer .ft-box {
  padding: 0;
  margin: 0;
  border: 0
}
.contact .submitBtn {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  color: #333;
}
.contact .submitBtn:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.0);
}
.contact .submitBtn:hover span {color: #fff;}
.contact .submitBtn:after {
  background: #3d59f9;
}
.skils {padding-bottom: 15px;}
.sm-txt {
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-bottom: 7px;
}
.scale {
  background: #ccc;
  height: 5px;
  border-radius: 10px;
  position: relative;
}
.scale span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.scale.txt90 span{width: 90%; background: #3d59f9;}
.scale.txt50 span{width: 50%; background: #5695fe;}
.scale.txt30 span{width: 30%; background: #00e676;}
.scale.txt85 span{width: 85%; background: #ff5f2c;}
.sm-cont p {
  font-size: 14px;
  padding-bottom: 15px;
}
.testimonial .item { }
.testimonial .item .box {width:90%; padding: 25px; border: 1px solid #ccc; border-radius: 4px}
.testimonial .item .box p {
  margin-bottom: 25px;
}
.thumb {
  float: left;
  width: 50px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 100%;
}
.author {
  overflow: hidden;
}
.author-name {
  font-size: 14px;
  font-weight: 500;
}
.author-position {
  color: #999;
  font-size: 12px;
}

.mar-top-50 {
  margin-top: 100px;
}
.bgColor {
  background: url(../img/cta_bg.jpg) no-repeat top / cover;
  padding: 80px 0;
}
.bgColor .title {
  color: #fff;
  font-size: 25px;
  padding-bottom: 20px;
}
.bgColor .txt-cont {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  padding-bottom: 25px;
  width: 600px;
}
.bgColor a {
  display: inline-block;
  padding: 10px 35px;
  background: #fff;
  border-radius: 30px;
  color: #333;
}
.col-fix-bg {
  background-color: #f5f5f5;
  margin-bottom: 75px;
}
.col-fix-bg.topmr{margin-top: 75px;}
.sm-title {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-bottom: 10px;
}
.sm-cont{line-height: 30px;}
.col-fix-bg .padall {
  padding: 25px 30px;
}
.content {border-right: 1px solid #d1d1d1; padding-right: 40px;}
.content p {
  line-height: 24px;
  margin: 15px 0;
}
.content ul {
  list-style: outside;
  padding-left: 15px;
}
.content ul li {
  padding-bottom: 10px;
  padding-left: 7px;
}
.list-blck {
  
}
.list-blck .title {
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 1px solid #222;
  font-size: 20px;
}
.list-blck ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-blck ul li {
  padding-top: 15px;
}
.list-blck ul li a {
  font-weight: 700;
  color: #000;
}
.list-blck ul li li {
  background: url(../img/arrow.png) no-repeat 12px 9px;
  padding-left: 30px;
  padding-top: 0;
  line-height: 30px;
}
.list-blck ul li li a{
  font-weight: 400;
  color: #333;
}
.margtop {
  margin-top: 70px;
}
.mid-content{padding:40px 0;}

.center-content{text-align: center; padding:0 150px; margin-bottom: 40px; margin-top: -30px;}

.get-in-touch{padding-top: 20px;}
.get-in-touch a{display: inline-block; border:2px solid #f4b119; color: #f4b119; font-weight: 600; line-height: 40px; padding:0 30px;}
.get-in-touch a:hover{color: #fff; background: #f4b119;}



.inr-banner.ios {
  background: url(../img/banners/IOS-banner.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.android {
  background: url(../img/banners/android.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.web-development {
  background: url(../img/banners/web-development.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.web-maintence {
  background: url(../img/banners/web-maintainence.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.seo-smo {
  background: url(../img/banners/seo-smo.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.responsive {
  background: url(../img/banners/responsive.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.ecommerce {
  background: url(../img/banners/ecommerce.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.domain-hosting {
  background: url(../img/banners/domain-hosting.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.social-media {
  background: url(../img/banners/social-media.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.branding-p {
  background: url(../img/banners/branding-p.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.stretegy-management {
  background: url(../img/banners/stretegy-management.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.media-campagians {
  background: url(../img/banners/media-campagians.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.search-en-res {
  background: url(../img/banners/search-en-res.jpg) no-repeat fixed 50% 50% / cover;
}
.inr-banner.about {
  background: url(../img/banners/about.jpg) no-repeat fixed 50% 50% / cover;
}
/* .form-loader-button{padding:0 300px;}
.form-loader-button button{float: left}
.form-loader-button img{float: right; width: 45px; height: 45px; display: none;} */

.thank-you{text-align: center; line-height: 0; padding: 100px 0 0; background: #068ec0;}
.thank-you img{width: auto; display: inline-block;}

.pageloader{width: 100%; height: 100%; position: fixed;
top: 0; left: 0; z-index: 99; background: url(../img/pageloader.svg) center no-repeat rgba(255,255,255,0.7);}
.tgmenu {display: none;}

@media screen and (max-width: 1200px) {
  .text-large {font-size: 45px;}
  .banner {padding: 160px 0;}
}
@media screen and (max-width: 979px) {
  .logo {width: 216px;}
  .navigation {padding-top:18px;}
  header {height: 70px;}
  .grid {width: 50%;}
  .center-content {padding: 0 80px;}
  .inr-banner {padding: 60px 0;}
}
@media screen and (min-width: 768px){
  .navigation{display: block !important;}
}
@media screen and (max-width: 767px) {
  .ovrflw {overflow:hidden;}
  .ins-nav {height:210px;overflow:auto;}
  .navigation {display:none;position:absolute;top:70px;left:0;background:#fff;width:100%;padding:27px 26px;}
  .navigation ul {height: 100%;}
  .navigation ul li {float:none;}
  .navigation ul li a {padding:0 10px 10px;position:relative;}
  .navigation ul li:nth-child(3) a:after{display:inline-block;content:'\f107';font-family:'FontAwesome';margin-left:10px;}
  .navigation ul li:nth-child(4) a:after{display:inline-block;content:'\f107';font-family:'FontAwesome';margin-left:10px;}
  .navigation ul li li a:after {display:none !important;}
  .navigation ul li:hover .mega-menu {position:relative;width:auto;left:0;}
  .navigation ul li ul {position:relative;box-shadow:none;padding-left:16px;}
  .navigation ul li:hover .mega-menu {box-shadow:none;padding:0;}
  .navigation ul li:hover .mega-menu ul li.col-left{float:none;width:auto;border-right:0 !important;}
  .copy span {display: block;padding-right: 0;}
  footer {padding-top: 27px;}
  .filter-list ul li{margin: 0;}
  .text-large {line-height: 40px;font-size: 29px;}
  .banner {padding: 37px 0;}
  .text-small {font-size: 16px;}
  h1, h2, h3 {font-size:23px;}
  h1, h2 {margin-top:0;}
  .center-content {padding: 0;}
  .list-blck {display: none;}
  .inr-banner h1, .white-txt {font-size: 20px;}
  .content-box {padding:25px 0 20px;}
  a.linkBtn{margin-top: 17px;margin-bottom: 35px;}
  h2.mar50 {margin-bottom: 25px;}
  .blueBg {padding: 40px 0;}
  .input-field input{height:40px;}
  .input-field textarea {border-radius:8px;height:130px;}
  .tgmenu {position:absolute;width:30px;height:26px;text-indent:-999px;overflow:hidden;background:url(../img/menu.png) no-repeat;display:block;right:15px;top:25px;z-index:5;cursor:pointer;}
  .tgmenu.active {background:url(../img/close.png) no-repeat;}
  .content {border-right:0;padding-right:0;}
}
@media screen and (max-width: 639px) {
  .filter-list ul li{padding: 7px 18px;font-size: 13px;}
}
@media screen and (max-width: 479px) {
  .grid {width: 100%;}
  .filter-list ul li {margin-bottom:5px;}
  .filter-list {margin:0 -15px;}
  .filter-list ul li {padding:2px 10px;font-size:12px;}
}