<div class="mid-content">
    <div class="wrapper">
 
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="content">
                <h2 class="smallmr">Disclaimer</h2>
               <p>You agree that you use and rely on material contained in the Saps Digital Site at
                  your own risk. All materials in Saps Digital Site is provided “as is” and, to the
                  fullest extent permitted by law, are provided without warranties of any kind either
                  express or implied. This means, without limitation, that Saps Digital does not
                  warrant that the Site is fit for any particular purpose and in no event shall Saps
                  Digital or any of its employees be liable for any special, indirect or consequential
                  damages or any damages whatsoever resulting from loss of use, data or profits,
                  whether in an action of contract, negligence or other tortious action, arising out of
                  or in connection with the use or performance of this information.</p>
               <p>You acknowledge that Saps Digital or any of its employees are not liable for any
                  defamatory, offensive or illegal conduct or material found in connection with the
                  Site, including such conduct or material transmitted by any means by any other
                  person. You also acknowledge that Saps Digital or any of its employees are not
                  liable for any damages, including, without limitation, direct, incidental, special,
                  consequential or punitive damages, in connection with or arising from your use or
                  from your inability to use the Site.</p>
               <p>The information contained in Saps Digital World Wide Web pages could contain
                  technical inaccuracies or typographical errors. Saps Digital reserves the right to
                  make changes to any information contained within its World Wide Web pages and
                  to make improvements and or changes in the products and programs described in
                  its World Wide Web pages at any time and without notice.</p>
            </div>
          </div>
        </div>
      </div>
</div>